#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card-body-stars{
  display: flex;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}
.card-body-stars:hover{
  cursor: pointer;
}

